@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
/* @import '@nextui-org/react/styles.css'; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body{
  caret-color: rgba(0, 0, 0, 0); 
}

body input, body textarea {
  caret-color: black; 
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

